MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DATABASE_NAME=mongo_info
MONGO_COLLECTION_NAME=output
JSON_FILE_PATH=./output.json
RESULT_FILE_PATH=./result.csv